<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="style.css">
	<title>Grocery list</title>
</head>
<body>
	
	<div class="options">
    	<form method="post" action="/">
    	  	<div>
			 	<img type="submit" id="0" draggable src="../images/bread.png">
				<input type="submit" value="bread" name="ingredients">
			</div>

			<div>
	    		<img id="1" draggable src="../images/cheese.png">
				<input type="submit" value="cheese" name="ingredients">
			</div>
			<div>
		  		<img id="2" draggable src="../images/ham.png">
		  		<input type="submit" value="ham" name="ingredients">
			</div>
			<div>
		  		<img id="3" draggable src="../images/curry.png">
		  		<input type="submit" value="curry" name="ingredients">
			</div>
		</form> 
	</div>

	<div class="list">
		<a href="/clear">clear</a>
		<h1>Grocery List</h1>
		<ul>
		<% data.forEach(ingredient => { %>
			<li><%= ingredient %></li>
		<% }) %>
		</ul>
    </div>

<script src="script.js"></script>
</body>
</html>