<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, width=device-width">
	<link rel="stylesheet" href="style.css">
	<title>Grosery list</title>
</head>
<body>
	
	<div class="options">
    	<form method="post" action="/">
    	  	<div>
			 	<img type="submit" id="0" draggable src="../images/bread.png">
				<input type="submit" value="bread" name="ingredients">
			</div>

			<div>
	    		<img id="1" draggable src="../images/cheese.png">
				<input type="submit" value="cheese" name="ingredients">
			</div>
			<div>
		  		<img id="2" draggable src="../images/ham.png">
		  		<input type="submit" value="ham" name="ingredients">
			</div>
			<div>
		  		<img id="3" draggable src="../images/curry.png">
		  		<input type="submit" value="curry" name="ingredients">
			</div>
		</form> 
	</div>

	<div class="list">
		<div>
			<h1>Grosery List</h1>
			<a href="/clear">clear</a>
		</div>
		<% data.forEach(ingredient => { %>
		<div>
			<p><%= ingredient %></p>
		</div>
		<% }) %>
    </div>

<script src="script.js"></script>
</body>
</html>