html {
	font-family: sans-serif;
}

body {
	background: #7C99B6;
	margin: 0;
}

.options {
	margin-top: 2em;
	margin-left: 25em;
}

.options form div {
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.12);
	float: left;
	margin: .3em;
	width: 10em;
}

.options form div > * {
	display: block;
	width: 100%;
}

.options img {
	cursor: move;
	cursor: -webkit-grab; cursor: -moz-grab;
	border-top-right-radius: .4em;
	border-top-left-radius: .4em;
	background: white;
	margin-bottom: 0;
}

.options input {
	margin-top: 0;
	cursor: pointer;
	border: none;
	font-size: .9em;
	float: right;
	text-decoration: none;
	padding: 1em;
	color: white;
	background: #F08080;
	border-bottom-right-radius: .4em;
	border-bottom-left-radius: .4em;
	transition: .2s background;
}

.options div:hover > input {
	background: #66CDAA;
}

.options input:focus {
	background: #66CDAA;
}

.list {
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.12);
	margin: 2em;
	margin-top: .3em;
	position: fixed;
	padding: 1em;
	border-radius: .4em;
	float: left;
	clear: both;
	height: auto;
	width: 20em;
	background: white;
}

.list h1 {
	margin-top: .5em;
	margin-left: .5em;
}

.list a {
	float: right;
	text-decoration: none;
	padding: 1em;
	color: white;
	background: #F08080;
	border-radius: .4em;
	transition: .2s background;
}

.list a:hover,
.list a:focus {
	background: #66CDAA;
}

.succes {
	background: #66CDAA;
}

.floating {
	background: #E5EDEE;
}

.list ul li {
	margin-bottom: .5em;
}

footer p {
	position: fixed;
	bottom: 0%;
	background: #F08080;
	color: white;
	margin: 0;
	width: 25%;
	border-top-right-radius: 1em;
	padding: 1.2em;
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.12);
}


@media (max-width: 40em) {
  	.options,
  	.list {
  		position: relative;
  		margin: 0 auto;
  		float: none;
	}

	.options {
		margin: 1em;
	}

  	.options form div {
  		margin: 0 1.5% 2em;
  		margin-top: 1em;
  		width: 22%;
  	}

  	footer {
  		display: none;
  	}
}