body {
	background: #ccc;
}

.options form div {
	float: left;
	margin: .3em;
	width: 15%;
	/*display: flex;*/
/*	flex-wrap: wrap;
	flex-direction: column;*/
}

.options form div > * {
	display: block;
	width: 100%;
}

.options img {
	cursor: move;
	cursor: -webkit-grab; cursor: -moz-grab;
	border-radius: .4em;
	background: white;
}

.options input {
	cursor: pointer;
	font-size: .9em;
}

.list {
	float: left;
	clear: both;
}

.list div {
	background: white;
	height: 5em;
	width: 20em;
}

input[type=checkbox]:checked + label {
	font-size: 2em;
	color: green;
} 